* {
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100dvh;
}

.app_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 1rem;
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 9dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000;
    height: 6dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #ffffff;
    height: 85dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    position: absolute;
    top: 9dvh;
    left: 0;
    padding-top: 15px;
    color:#000000;
}

.cards,
.cards2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.panel, .panel2 {
    border: 1px solid #5ff3d0;
    overflow: hidden;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: none;
    box-shadow: 0px 1px 6px rgba(95, 243, 208, 0.5);
    color: black;
}
.panel2 {
    flex-direction:column;
    align-items: center;
}

/* #copyLink {
    position:absolute;
    top:0;
    left:0;
} */
#shareRefLink {
    background-color: #000000;
    border-radius: 6px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:7px;
    color:white;
    cursor:pointer;
    padding:8px 10px;
    height: 6dvh;
    font-size: 3dvh;
    font-weight:700;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
#shareRefLink:active {
    transform: scale(0.9);
}
#shareRefLink {
    animation: pulse 1.5s infinite;
    -webkit-animation: pulse 1.5s infinite;
}
#shareRefLink:hover {
    animation: none;
    -webkit-animation: none;
  }
  @keyframes pulse {
    0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
#shareRefLink img {
    height:4dvh;
}

.accordion, .accordion2 {
    cursor: pointer;
    transition: 0.5s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex:1;
    /* margin-right: 50px; */
}

.card,
.card2 {
    background-color: mintcream;
    border: 1px solid #5ff3d0;
    border-radius: 8px;
    width: 70%;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    box-shadow: 0px 1px 6px rgba(95, 243, 208, 0.5);
}
/* .card2 {
    position:relative;
} */

.card img,
.card2 img {
    height: 7dvh;
    filter: drop-shadow(0 0 0.05rem #5ff3d0);
}
.card .description,
.card2 .description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.card .description p,
.card2 .description p {
    font-size: 1.5rem;
    text-align: center;
}

.card .description > span,
.card2 .description > span {
    font-size: 1.2rem;
    text-align: center;
    color: #008b6a;
}

.earn__item__watch-count {
    color: #008b6a;
    opacity: 0.5;
}

#watchAddBtn{
    /* padding: 0 20px; */
    border-radius: 6px;
    background-color: #000000;
    color: white;
    font-weight: 700;
    cursor: pointer;
    height: 6dvh;
    padding: 8px 10px;
    font-size: 3dvh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:7px;
}
#watchAddBtn img {
    height:4dvh;
}

#watchAddBtn:hover
 {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#watchAddBtn:active {
    transform: scale(0.9);
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}
.promiseGif {
    width:15px;
}
.user {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:1.25rem;
    border: 1px solid #5ff3d0;
    border-radius: 8px;
    height: 7dvh;
    padding: 5px;
    /* margin-top: 10px; */
}
.user .username,
.user .userid {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    font-weight:700;
}
.user .username img,
.user .userid img {
    height:4dvh;
}
.balance {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding: 0px 7px;
}
.balance img{
    height:10dvh;
}
.balance h1{
    font-size:7dvh;
}
.noMobile {
    position:absolute;
    top:0;
    left:0;
    height:100dvh;
    width: 100%;
    z-index:1000;
    background-color:#464646;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:1.5rem;
    display:none;
}
@media (max-width:670px) {

    .card,
    .card2,
    .panel,
    .panel2,
    .user {
        width: 90%;
    }
    .user {
        font-size:0.9rem;
    }
    .card .description p, 
    .card2 .description p {
        font-size: 0.9rem;
    }

    .card .description span, 
    .card2 .description span {
        font-size: 0.9rem;
    }
    .card img, .card2 img {
        height:6.5dvh
    }
    #shareRefLink, 
    #watchAddBtn {
        font-size:1.8dvh;
    }
    #shareRefLink img {
        height:3dvh;
    }
    #watchAddBtn img {
        height:3dvh;
    }
    .user .username img,
    .user .userid img {
        height:3dvh;
    }
    .balance img{
        height:7dvh;
    }
    .balance h1{
        font-size:5dvh;
    }
}
@media (max-width:450px) {
    .balance img{
        height:6dvh;
    }
    .balance h1{
        font-size:3.5dvh;
    }
}
@media (max-width:340px) {
    #shareRefLink,
    #watchAddBtn {
        font-size:1.6dvh;
    }
    #shareRefLink img {
        height:2.5dvh;
    }
    #watchAddBtn img {
        height:2.5dvh;
    }
    .user .username img, 
    .user .userid img {
        height:2.5dvh;
    }
    .card img, .card2 img {
        height:4dvh
    }
    .balance img{
        height:5dvh;
    }
    .balance h1{
        font-size:3dvh;
    }
}

